<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	    		</ul>
			</nav>
			<div class="container">
						
				{{ content }}
				
				<h2 id="troubleshooting">Troubleshooting</h2>
				<ul>			
				{% for faq in site.troubleshooting %}
				  <li>				
					<a href="{{ faq.url }}">{{ faq.title }}</a>				
				  </li>
				{% endfor %}
				</ul>
			</div><!-- /.container -->
			<footer>
	    		<ul>	        		
	        		<li><a href="https://github.com/StimpyKatz">github.com/StimpyKatz</a></li>
				</ul>
			</footer>
		</body>
	</html>